footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2025 Company, Inc. All Rights Reserved
    ul.mb-0
      li.list-inline-item
        a(href='') GitHub Project
      li.list-inline-item
        a(href='') Issues
      li.list-inline-item
        a(href='') Privacy Policy
      li.list-inline-item
        a(href='') Terms of Use
